<!DOCTYPE html>
<html>

<head>
    <title>Web Audit</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('myApp', [])
        app.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);
        app.controller("myAppController", function (
            $scope, $http, $sce, $filter, $timeout) {
            $scope.submitUrl = function (){
                $scope.url = document.getElementById('url').value
                console.log($scope.url);
                $http({
                    method: "POST",
                    url: "{% url 'audit_metrics_api:url_audit_data'%}",
                    data: {url_text: $scope.url},
                    headers : { 'Content-Type': 'application/x-www-form-urlencoded' }

                })
            }
        })
    </script>
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div ng-app="myApp" ng-controller="myAppController">
        <div class="">
            <label>Enter URL</label>
            <input type="text" id="url" placeholder="Enter Url here!">
            <button class="", ng-click="submitUrl()">Submit</button>
        </div>
    </div>
</body>
</html>